<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">

      <!-- BOTÓN VOLVER -->
      <ion-back-button *ngIf="botonVolver" [defaultHref]="botonVolver"></ion-back-button>

      <!-- BOTÓN CERRAR MODAL -->
      <ion-button (click)="despedirModal()" *ngIf="esModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>



    <ion-title>
      <strong>{{title}}</strong>
      <div class="nombreApp">A P U E S T A S</div>
    </ion-title>
  </ion-toolbar>
</ion-header>