<app-header [mostrarMenu]="true" title="Inicio"></app-header>
<app-menu></app-menu>

<ion-content>
  <ion-button routerLink="/apuestas-usuario">Apuesta realizadas</ion-button>

  <ion-card class="tarjeta" *ngFor="let event of eventos">
    <img alt="Silhouette of mountains" src={{event.strHomeTeamBadge}} />
    <ion-card-header>
      <ion-card-title>{{ event.strEvent }}</ion-card-title>
      <ion-card-subtitle>{{ event.strLeague }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ event.strFilename }}
    </ion-card-content>
    <ion-card-content class="ion-text-right">
      <ion-button (click)="agregarActApuesta(event)" fill="outline">Apostar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>