<app-header [esModal]="true" [title]="apuesta ? 'Actualizar apuesta' : 'Agregar apuesta' "></app-header>
<ion-content>

    <!-- Utiliza la variable 'form' que contiene el objeto FormGroup definida en registro.page.ts -->
    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="enviar()" (keypress.enter)="enviar()">

        <!-- *********** NOMBRE *********** -->
        <!-- Crea un componente input con las variables definidas en custom-input.component.ts -->
        <app-custom-input autocompletar="name" [control]="form.controls.nombre" tipo="text"
            etiqueta="Nombre"></app-custom-input>

        <!-- VALIDADORES -->
        <!-- Verifica que el correo sea valido y que el campo este completo -->
        <div class="validador" *ngIf="form.controls.nombre.errors && form.controls.nombre.touched">
            <div *ngIf="form.controls.nombre.errors?.['required']">El campo es requerido</div>
            <div *ngIf="form.controls.nombre.errors?.['name']">El nombre debe tener un mínimo de 3 carácteres</div>
        </div>

        <!-- *********** IMPORTE *********** -->
        <!-- Crea un componente input con las variables definidas en custom-input.component.ts -->
        <app-custom-input [control]="form.controls.importe" tipo="number"
            etiqueta="Importe"></app-custom-input>

        <!-- VALIDADORES -->
        <!-- Verifica que el correo sea valido y que el campo este completo -->
        <div class="validador" *ngIf="form.controls.importe.errors && form.controls.importe.touched">
            <div *ngIf="form.controls.importe.errors?.['required']">El importe es requerido</div>
            <div *ngIf="form.controls.importe.errors?.['min']">El importe no debe ser igual a $0</div>
        </div>

        <ion-button class="ion-margin" type="submit" [disabled]="form.invalid">
            {{ apuesta ? 'Actualizar apuesta' : 'Agregar apuesta' }}
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
        </ion-button>

    </form>

</ion-content>