<app-header [esModal]="true" [title]="apuesta ? 'Actualizar apuesta' : 'Agregar apuesta' "></app-header>
<ion-content>

    <h5>{{ apuesta ? '' : evento.strEvent }}</h5>

    <!-- Utiliza la variable 'form' que contiene el objeto FormGroup definida en registro.page.ts -->
    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="enviar()" (keypress.enter)="enviar()">

        <ion-list>
            <!-- LIGA -->
            <ion-item>
                <app-custom-input [control]="form.controls.strHomeTeam" etiqueta="Equipo Local" tipo="text"></app-custom-input>
                <ion-checkbox (ionChange)="toggleCheckbox('local')" [checked]="esLocal"></ion-checkbox>
            </ion-item>

            <!-- EVENT -->
            <ion-item>
                <app-custom-input [control]="form.controls.strAwayTeam" etiqueta="Equipo visitante" tipo="text"></app-custom-input>
                <ion-checkbox (ionChange)="toggleCheckbox('visitante')" [checked]="esVisitante"></ion-checkbox>
            </ion-item>
        </ion-list>

        <!-- *********** IMPORTE *********** -->
        <!-- Crea un componente input con las variables definidas en custom-input.component.ts -->
        <app-custom-input [control]="form.controls.importe" tipo="number" etiqueta="Importe"
            (ionInput)="convierteNumero()"></app-custom-input>

        <!-- VALIDADORES -->
        <!-- Verifica que el correo sea valido y que el campo este completo -->
        <div class="validador" *ngIf="form.controls.importe.errors && form.controls.importe.touched">
            <div *ngIf="form.controls.importe.errors?.['required']">El importe es requerido</div>
            <div *ngIf="form.controls.importe.errors?.['min']">El importe no debe ser igual a $0</div>
        </div>

        <ion-button class="ion-margin" type="submit" [disabled]="form.invalid">
            {{ apuesta ? 'Actualizar apuesta' : 'Agregar apuesta' }}
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
        </ion-button>

    </form>

</ion-content>